h1{
    text-align: center;
}

h2{
    text-align: right;
}

.resume{
    float: left;
}

.column{
    text-align: center;
    break-after: always;
    -moz-column-break-after: always;
    -webkit-column-break-after: always;
}

.subtitle{
    font-size: 20pt;
}

.subtitle2{
    font-size: 15pt;
}

.company{
	text-align: center;
    font-color: green;
}

#workexp{
    -webkit-column-count: 3;
    -moz-column-count: 3;
    -webkit-column-gap: 0px;
}

.info{
    text-align: justify;
}

#interests{
    -webkit-column-count: 4;
    -moz-column-count: 4;
}

h4{
    text-align: center;
}