h1{
    text-align: center;
}

h2{
    text-align: right;
}

.resume{
    float: left;
}

.intro{
    text-align: center;
}

.subtitle{
    font-size: 20pt;
}

.subtitle2{
    font-size: 15pt;
}

#workexp{
    -webkit-column-count: 3;
    -moz-column-count: 3;
    
    -webkit-column-gap: 0px;
}