.column{
    text-align: center;
    break-after: always;
    -moz-column-break-after: always;
    -webkit-column-break-after: always;
}

.subtitle{
    font-size: 20pt;
}

.company{
	text-align: center;
    font-color: green;
}

#workexp{
    -webkit-column-count: 3;
    -moz-column-count: 3;
    -webkit-column-gap: 0px;
}

.info{
    text-align: justify;
}

#interests{
    -webkit-column-count: 4;
    -moz-column-count: 4;
}

h4{
    text-align: center;
}

.intro{
    font-size: 15pt;
    margin-left: auto;
}

.vcenter{
    vertical-align: middle;
}

.div{
    border-style: solid;
}

#engsoc{
    float: right;

}

h1{
    font-size: 3em;
/*    font-family: "Palatino Linotype";*/
    font-family: "Century Gothic";
}

body{
    background-color: #F5F5F5;
    margin: 20px;
}

li.dropdown:hover > ul.dropdown-menu{
    display: block;
}

.link{
    background-color: #000080;
    color: #C0C0C0;
    width: 300px;
    margin-left: 30px;
}