div{
}

.subtitle2{
    font-size: 15pt;
    margin-left: auto;
}

.navbar{
    background-color: #000080;
    color: #000000;
}

.company{
	text-align: center;
    font-color: green;
}

body{
    background-color: #F5F5F5;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
}

.company{
    margin: 0 auto;
    max-height: 90px;
}

.navbar{
    background-color: #000080;
    color: #000000;
}